.search_area {
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2.75rem;
}

.search_area h1 {
    font-size: 1.75rem;
    font-weight: 500;
}

.search_area input {
    width: 22.5rem;
    height: 3rem;
    border: 2px solid #D9D9D9;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.area_list {
    width: 90vw;
    height: auto;
    display: flex;
    gap: 6vw;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    padding-top: 5rem;
}

.area_list li {
    width: 18vw;
    height: 22.5rem;
    border: 1px solid black;
}