header {
    width: 100%;
    height: 10rem;
    border: 1px solid #D9D9D9;
    display: flex;
    align-items: baseline;
    padding: 3rem 0 0 2rem;
    gap: 1.5rem;
}

header h1 {
    font-size: 2.6rem;
    cursor: pointer;
}

header p {
    font-size: 1rem;
    font-weight: 200;
}

.plan_form {
    width: 100%;
    display: flex;
}

.plan_form>div {
    width: 50vw;
    height: calc(100vh - 10rem) ;
}

.plan {
    border-right: 1px solid #D9D9D9;
    padding: 3rem 3rem;
}

.plan h3 {
    font-size: 1rem;
    font-weight: 400;
}

.plan_head {
    width: 100%;
    height: auto;
    text-align: center;
}

.plan_head li {
    height: 4rem;
}

.plan_head li:nth-child(1) h2 {
    font-weight: 400;
    font-size: 2.4rem;
}

.plan_head li:nth-child(2) p {
    font-weight: 200;
    font-size: 1rem;
}

.plan_head .day {
    font-weight: 300;
    font-size: 1.3rem;
}

.plan_head li:nth-child(4) p {
    font-weight: 100;
    font-size: 1rem;
    margin-top: -1.2rem;
}

.hotel,
.festival,
.restaurant,
.place {
    width: 100%;
    height: 7.5rem;
    /* border: 1px solid black */
}

.hotel_name,
.festival_name,
.restaurant_name,
.place_name {
    height: 3.25rem;
    line-height: 3.25rem;
    margin-top: 1rem;
    padding-left: 1.5rem;
    border: 1px solid #D9D9D9;
}

.search_board {
    width: 100%;
    padding: 1.5rem 1.5rem;
}

.search_board input {
    width: 100%;
    height: 4.5rem;
    text-align: center;
    border: 1px solid #D9D9D9;
}

.search_category {
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
    gap: 1.5rem;
    font-weight: 200;
    color: #acacac;
}

.search_category li {
    width: 25%;
    line-height: 4.5rem;
    border: 1px solid #D9D9D9;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}

.search_result {
    width: 100%;
    height: calc(100vh - 10rem - 15rem );
    overflow-y: scroll;
    margin-top: 1.5rem;
}

.search_result > li:nth-child(1) {
    margin-top: 0;
}

.search_result > li {
    width: 100%;
    height: 12.5rem;
    border: 1px solid #D9D9D9;
    margin-top: 1.25rem;
    display: flex;
    padding: 0.75rem;
}

.text_box{
    margin-left: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text_box h4{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.text_box p{
    font-size: 1rem;
    font-weight: 200;
}

.plus_btn{
    width: 7rem;
    height: 2.25rem;
    border: 1px solid #D9D9D9;
    font-size: 1rem;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search_result .hotel_img {
    height: 100%;
    width: 11rem;
    opacity: 0.9;
}

.active_text{
    font-weight: 600;
    color: rgba(0, 0, 0);
}