header{
    width: 100vw;
    height: 8rem;
    border: 1px solid #D9D9D9;
    display: flex;
    align-items:baseline;
    padding:  3rem 0 0 2rem;
    gap: 1.5rem;
}

header h1{
    font-size: 2rem;
}

header p{
    font-size: 0.75rem;
    font-weight: 200;
}

.plan_form{
    width: 100vw;
    height: auto;
    display: flex;
}

.plan_form div{
    width: 50vw;
    height: 100vh;
}

.plan{
    border-right: 1px solid #D9D9D9;
    padding-top: 2rem;
}

.plan_head{
    width: 100%;
    height: auto;
    text-align: center;
}

.plan_head li{
    height: 2.3rem;
}
.plan_head li:nth-child(1) h2{
    font-weight: 300;
    font-size: 1.7rem;
}

.plan_head li:nth-child(2) p{
    font-weight: 200;
}

.plan_head .day{
    font-weight: 200;
    font-size: 1rem;
}

.plan_head li:nth-child(4) p{
    font-weight: 100;
    font-size: 0.625rem;
    margin-top: -0.5rem;
}
